{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="col-md-2 sideNavBar sticky-top">
            <div class="row">
                <div class="col">
                    <div class="dashboardContainer">
                        <div class="title">
                            <p> Dashboard</p>
                        </div>
                        <div class="dashboardNav">
                            <ul> 
                                   
                                <li><a href="{% url 'employeeList' %}"><i class="fa fa-users"></i> Employees</a></li>
                                <li><a href="{% url 'createEmployee' %}"><i class="fa fa-user-plus"></i> Add Employee</a></li>
                                <li><a href="{% url 'assetsList' %}"><i class="fa fa-briefcase"></i> Assets</a></li>
                                <li><a href="{% url 'addAsset' %}"><i class="fa fa-plus-square"></i> Assign Assets</a></li>
                                <li><a href="{% url 'message' %}"> <i class="fa fa-bell"></i> Notifications <sup id="notify"></sup></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-10">
           
           {% block dashboard %}

           {% include 'users/snippets/basic_info.html' %}
               
           {% endblock dashboard %}
               
        </div>
    </div>
{% endblock content %}
    
    
