{% extends 'base.html' %}

{% block content %}
<div class="row">
        <div class="col-sm-9 col-md-8 col-lg-7 mx-auto">
        <div class="loginformContoller indexcontroller">
          <div class="card card-signin my-5 loginFormContainer index">
            <div class="card-body">
              <h5 class="card-title text-center loginform-title index-title">HR Management System</h5>
              <hr>
              
               <div class="dashboard_container">
                  {% if request.user.is_authenticated %}
                  
                  {% if request.user.is_employer %}
                  <p>Hi {{request.user.employer.name}}</p>
                 {% elif request.user.is_employee %}
                 <p>Hi {{request.user.employee.name}}</p>
                  {% endif %}
                  <p>We hope you are having a great Day!!</p>
                  <p><a href="{% url 'logout' %}">Logout</a> </p>
                   
                  {% else %} 
                    <p> <a href="{% url 'signup' %}">Register as Employer</a></p>
                    <p> <a href="{% url 'login' %}">Login</a></p>
                  {% endif %}
               </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    
{% endblock content %}
    
    
 